<div role="navigation">
	<div class="navbar-top">
		<ul id="nav-main" class="nav-main linklist" role="menubar">
			<li id="quick-links" class="quick-links dropdown-container rightside<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true">
				<a href="#" title="Additional Items" class="dropdown-trigger">
					<i class="icon fa-user-menu fa-ellipsis-v fa-fw" aria-hidden="true"></i>
				</a>
				<div class="dropdown">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents" role="menu">
						<!-- EVENT navbar_header_quick_links_before -->
						<li>
							<a href="{U_SEARCH_ACTIVE_TOPICS}" role="menuitem">
								<i class="icon fa-bolt fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS}</span>
							</a>
						</li>
						<!-- IF S_LOAD_UNREADS -->
							<li>
								<a href="{U_SEARCH_UNREAD}" role="menuitem">
									<i class="icon fa-eye-slash fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
								</a>
							</li>
						<!-- ENDIF -->
						<li>
							<a href="{U_SEARCH}" role="menuitem">
								<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{L_SEARCH}</span>
							</a>
						</li>
						<!-- IF S_DISPLAY_MEMBERLIST -->
							<li>
								<a href="{U_MEMBERLIST}" role="menuitem">
									<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST}</span>
								</a>
							</li>
						<!-- ENDIF -->
						<li>
							<a href="https://dev.apoe4.info/community-guidelines/" role="menuitem">
								<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>Community Guidelines</span>
							</a>
						</li>
						<!-- IF U_MCP -->
							<li>
								<a href="{U_MCP}" role="menuitem">
									<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{L_MCP}</span>
								</a>
							</li>
						<!-- ENDIF -->
						<!-- IF U_ACP -->
							<li>
								<a href="{U_ACP}" role="menuitem">
									<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{L_ACP}</span>
								</a>
							</li>
						<!-- ENDIF -->
						<!-- EVENT navbar_header_quick_links_after -->
					</ul>
				</div>
			</li>

			<!-- EVENT overall_header_navigation_prepend -->
			<!-- EVENT overall_header_navigation_append -->

		<!-- IF S_REGISTERED_USER -->
			<!-- EVENT navbar_header_user_profile_prepend -->
			<li id="username_logged_in" class="rightside <!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->" data-skip-responsive="true">
				<!-- EVENT navbar_header_username_prepend -->
				<div class="header-profile dropdown-container">
					<a href="{U_PROFILE}" title="User Control Panel" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --> {CURRENT_USERNAME_SIMPLE}</a>
					<div class="dropdown">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents" role="menu">
							<!-- IF U_RESTORE_PERMISSIONS -->
								<li>
									<a href="{U_RESTORE_PERMISSIONS}">
										<i class="icon fa-user-menu fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
									</a>
								</li>
							<!-- ENDIF -->

						<!-- EVENT navbar_header_profile_list_before -->

							<li>
								<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
									<i class="icon fa-user-menu fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
								</a>
							</li>
							<!-- IF U_USER_PROFILE -->
								<li>
									<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
										<i class="icon fa-user-menu fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
									</a>
								</li>
							<!-- ENDIF -->

							<!-- EVENT navbar_header_profile_list_after -->

							<li class="separator"></li>
							<li>
								<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
									<i class="icon fa-user-menu fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- EVENT navbar_header_username_append -->
			</li>
			<!-- IF S_DISPLAY_PM -->
				<li class="rightside" data-skip-responsive="true">
					<a href="{U_PRIVATEMSGS}" title="Private Messages" role="menuitem">
						<i class="icon fa-user-menu fa-envelope fa-fw" aria-hidden="true"></i><strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
					</a>
				</li>
			<!-- ENDIF -->
			<!-- IF S_NOTIFICATIONS_DISPLAY -->
				<li class="dropdown-container dropdown-{S_CONTENT_FLOW_END} rightside" data-skip-responsive="true">
					<a href="{U_VIEW_ALL_NOTIFICATIONS}" title="Notifications" id="notification_list_button" class="dropdown-trigger">
						<i class="icon fa-user-menu fa-bell fa-fw" aria-hidden="true"></i><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong>
					</a>
					<!-- INCLUDE notification_dropdown.html -->
				</li>
			<!-- ENDIF -->
			<!-- EVENT navbar_header_user_profile_append -->
			{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
				<li class="rightside responsive-si" data-skip-responsive="true">
					<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" role="menuitem">
						<i class="icon fa-user-menu fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
					</a>
				</li>
			{% endif %}
			<!-- IF S_LOAD_UNREADS -->
				<li class="rightside" data-last-responsive="true">
					<a href="{U_SEARCH_UNREAD}" title="Unread Posts" role="menuitem">
						<i class="icon fa-user-menu fa-eye-slash fa-fw" aria-hidden="true"></i>
					</a>
				</li>
			<!-- ENDIF -->
		<!-- ELSE IF not S_IS_BOT -->
			<li class="rightside" data-skip-responsive="true">
				<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
					<i class="icon fa-user-menu fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
				</a>
			</li>
			<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
				<li class="rightside" data-skip-responsive="true">
					<a href="{U_REGISTER}" role="menuitem">
						<i class="icon fa-user-menu fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>{L_REGISTER}</span>
					</a>
				</li>
			<!-- ENDIF -->
			<!-- EVENT navbar_header_logged_out_content -->
		<!-- ENDIF -->
			<li class="rightside" data-last-responsive="true">
				<a href="{U_SEARCH_ACTIVE_TOPICS}" title="Active Topics" role="menuitem">
					<i class="icon fa-user-menu fa-bolt fa-fw" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>

	<div class="navbar">
	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		{% set MICRODATA = 'itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope' %}
		{% set navlink_position = 1 %}

		{% EVENT overall_header_breadcrumbs_before %}

		<li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

			{% if U_SITE_HOME %}
                <span class="crumb" {{ MICRODATA }}><a itemprop="item" href="{{ U_SITE_HOME }}" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
            {% endif %}

			{% EVENT overall_header_breadcrumb_prepend %}
				<span class="crumb" {{ MICRODATA }}><a itemprop="item" href="{{ U_INDEX }}" accesskey="h" data-navbar-reference="index">{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw"></i>{% endif %}<span itemprop="name">{{ L_INDEX }}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>

			{% for navlink in navlinks %}
				{% set NAVLINK_NAME = navlink.BREADCRUMB_NAME | default(navlink.FORUM_NAME) %}
				{% set NAVLINK_LINK = navlink.U_BREADCRUMB | default(navlink.U_VIEW_FORUM) %}

				{% EVENT overall_header_navlink_prepend %}
				<span class="crumb" {{ MICRODATA }}{% if navlink.MICRODATA %} {{ navlink.MICRODATA }}{% endif %}><a itemprop="item" href="{{ NAVLINK_LINK }}"><span itemprop="name">{{ NAVLINK_NAME }}</span></a><meta itemprop="position" content="{{ navlink_position }}{% set navlink_position = navlink_position + 1 %}" /></span>
				{% EVENT overall_header_navlink_append %}
			{% endfor %}

			{% EVENT overall_header_breadcrumb_append %}
		</li>

		{% EVENT overall_header_breadcrumbs_after %}

		{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
			<li id="search-box" class="rightside search-box responsive-sb" role="search">
                <form action="{U_SEARCH}" method="get" id="search">
                <fieldset>
                    <input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" />
                    <button class="button button-search" type="submit" title="{L_SEARCH}">
	                    <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH}</span>
					</button>
					<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}">
						<i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{L_SEARCH_ADV}</span>
					</a>
					{S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
				</form>
			</li>
		{% endif %}
	</ul>
	</div>
</div>
